sources/kpi-booking-gadget-nodered.json
 [{"id":"4eadb732.0e2c18","type":"tab","label":"HBG Bookings","disabled":false,"info":""},{"id":"d69be32a.ee293","type":"http request","z":"4eadb732.0e2c18","name":"Booking confirmation errors","method":"GET","ret":"obj","url":"","tls":"","x":620,"y":180,"wires":[["e511fec7.1e48"]]},{"id":"8ce0309d.60866","type":"function","z":"4eadb732.0e2c18","name":"Compose URL","func":"  var TimeTo = Math.floor((new Date).getTime()/1000);\n  var TimeFrom = TimeTo-900;\n  var URLstr1 = \"https://app.datadoghq.com/api/v1/query?api_key=\";\n  var URLstr2 = flow.get('api_key');\n  var URLstr3 = \"&application_key=\"\n  var URLstr4 = flow.get('application_key');\n  var URLstr5 = \"&from=\";\n  var URLstr6 = TimeFrom.toString();\n  var URLstr7 = \"&to=\";\n  var URLstr8 = TimeTo.toString();\n  var URLstr9 = \"&query=sum:hotel_booking_api.counter.none{operation:booking,env:live,!metric_id:globalexceptionhandler.badrequestexception,!metric_id:globalexceptionhandler.errorprocessingexception,!metric_id:globalexceptionhandler.requiredpaymentexception,!apikey:4tb9yp28w2yxda59cg4dcc8e}.as_count()\"\nmsg.payload = URLstr1.concat(URLstr2,URLstr3,URLstr4,URLstr5,URLstr6,URLstr7,URLstr8,URLstr9);\nreturn [msg];","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["66ae53cb.b5f7ec"]]},{"id":"66ae53cb.b5f7ec","type":"change","z":"4eadb732.0e2c18","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":180,"wires":[["d69be32a.ee293"]]},{"id":"e511fec7.1e48","type":"function","z":"4eadb732.0e2c18","name":"Sum errors","func":"p=msg.payload;\nnode.log(typeof P);\nvar BookErrors = 0;\nvar t = p.series[0].length;\nvar i;\nfor (i=0; i<t; i++) {\n   BookErrors = BookErrors + p.series[0].pointlist[i][1];\n}\nmsg.payload=BookErrors;\nmsg.topic= \"bookerrors\";\nflow.set('nbookerrors',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[[]]},{"id":"c5c717b1.f47648","type":"ui_button","z":"4eadb732.0e2c18","name":"Launch","group":"6ac894bc.a67ffc","order":1,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"error_outline","payload":"LightOff","payloadType":"str","topic":"","x":360,"y":20,"wires":[["85a7f579.a17328","277975df.5403ea"]]},{"id":"92dffda9.9643b","type":"function","z":"4eadb732.0e2c18","name":"Datadog Application Key","func":"flow.set('api_key','¿?');\nflow.set('application_key','¿?');\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":100,"wires":[["8ce0309d.60866","e47a974d.935ca8","af3e8015.806d6","5edb8870.f2d1f8","9290ad11.63a64"]]},{"id":"e47a974d.935ca8","type":"function","z":"4eadb732.0e2c18","name":"Compose URL","func":"  var TimeTo = Math.floor((new Date).getTime()/1000);\n  var TimeFrom = TimeTo-900;\n  var URLstr1 = \"https://app.datadoghq.com/api/v1/query?api_key=\";\n  var URLstr2 = flow.get('api_key');\n  var URLstr3 = \"&application_key=\"\n  var URLstr4 = flow.get('application_key');\n  var URLstr5 = \"&from=\";\n  var URLstr6 = TimeFrom.toString();\n  var URLstr7 = \"&to=\";\n  var URLstr8 = TimeTo.toString();\n  var URLstr9 = \"&query=sum:hotel_booking_api.counter.booking{metric_id:bookingcontroller.booking,env:live,!apikey:4tb9yp28w2yxda59cg4dcc8e}.as_count()\"\nmsg.payload = URLstr1.concat(URLstr2,URLstr3,URLstr4,URLstr5,URLstr6,URLstr7,URLstr8,URLstr9);\nreturn [msg];\n","outputs":1,"noerr":0,"x":200,"y":220,"wires":[["16eb782c.126de8"]]},{"id":"2fa4af82.f2668","type":"http request","z":"4eadb732.0e2c18","name":"Booking confirmation","method":"GET","ret":"obj","url":"","tls":"","x":600,"y":220,"wires":[["9f3d4db7.62e98"]]},{"id":"16eb782c.126de8","type":"change","z":"4eadb732.0e2c18","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["2fa4af82.f2668"]]},{"id":"9f3d4db7.62e98","type":"function","z":"4eadb732.0e2c18","name":"Sum bookings","func":"p=msg.payload;\nnode.log(typeof P);\nvar Bookings = 0;\nvar t = p.series[0].length;\nvar i;\nfor (i=0; i<t; i++) {\n   Bookings = Bookings + p.series[0].pointlist[i][1];\n}\nmsg.payload=Bookings;\nmsg.topic= \"bookings\";\nflow.set('nbookings',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":220,"wires":[[]]},{"id":"4e9d31cd.ce563","type":"function","z":"4eadb732.0e2c18","name":"Ratio","func":"msg.topic = \"bookingerror\";\nvar ratio = parseFloat(( flow.get('nbookerrors') /  flow.get('nbookings') ) * 1000).toFixed(0);\nreturn {payload:ratio};","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["700294bd.355d4c","abded45f.332928","7d261b72.19f0e4"]]},{"id":"700294bd.355d4c","type":"ui_gauge","z":"4eadb732.0e2c18","name":"Booking errors","group":"6ac894bc.a67ffc","order":2,"width":"6","height":"3","gtype":"gage","title":"Booking errors","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":80,"wires":[]},{"id":"277975df.5403ea","type":"mqtt out","z":"4eadb732.0e2c18","name":"","topic":"/hbg/kpi/operation","qos":"2","retain":"","broker":"2dfe1747.bcf7a8","x":1110,"y":280,"wires":[]},{"id":"abded45f.332928","type":"function","z":"4eadb732.0e2c18","name":"Compose topic message","func":"var str1 =\"bookerror\"\nmsg.payload = str1.concat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":120,"wires":[["277975df.5403ea"]]},{"id":"5dc2cba5.2ab4d4","type":"mqtt in","z":"4eadb732.0e2c18","name":"","topic":"/hbg/kpi/panic","qos":"2","broker":"2dfe1747.bcf7a8","x":190,"y":720,"wires":[["8f35bc85.25a17","c74a1857.0f7288","cdd1241a.1371f8"]]},{"id":"8f35bc85.25a17","type":"ui_switch","z":"4eadb732.0e2c18","name":"","label":"Panic","tooltip":"","group":"72857167.28624","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"fa-bell","oncolor":"red","offvalue":"Off","offvalueType":"str","officon":"fa-bell-o ","offcolor":"black","x":370,"y":680,"wires":[[]]},{"id":"f02889e1.47e708","type":"http request","z":"4eadb732.0e2c18","name":"Evolution booking per hour","method":"GET","ret":"obj","url":"","tls":"","x":620,"y":320,"wires":[["de46e2af.64502"]]},{"id":"338f67db.727e78","type":"function","z":"4eadb732.0e2c18","name":"Compose URL","func":"  var TimeTo = Math.floor((new Date).getTime()/1000);\n  var TimeFrom = TimeTo-1800;\n  var URLstr1 = \"https://app.datadoghq.com/api/v1/query?api_key=\";\n  var URLstr2 = flow.get('api_key');\n  var URLstr3 = \"&application_key=\"\n  var URLstr4 = flow.get('application_key');\n  var URLstr5 = \"&from=\";\n  var URLstr6 = TimeFrom.toString();\n  var URLstr7 = \"&to=\";\n  var URLstr8 = TimeTo.toString();\n  var URLstr9 = \"&query=sum:evolution.com.evo.servlets.NewShoppingCartConfirmation.processRequest.count{*,env:live,building-block:evolution}.as_count()\"\nmsg.payload = URLstr1.concat(URLstr2,URLstr3,URLstr4,URLstr5,URLstr6,URLstr7,URLstr8,URLstr9);\nreturn [msg];","outputs":1,"noerr":0,"x":200,"y":320,"wires":[["4551db0e.a757f4"]]},{"id":"4551db0e.a757f4","type":"change","z":"4eadb732.0e2c18","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":320,"wires":[["f02889e1.47e708"]]},{"id":"43871c70.6772b4","type":"inject","z":"4eadb732.0e2c18","name":"Interval request","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":20,"wires":[["92dffda9.9643b"]]},{"id":"de46e2af.64502","type":"function","z":"4eadb732.0e2c18","name":"Sum bookings","func":"p=msg.payload;\nnode.log(typeof P);\nvar Bookings = 0;\nvar t = p.series[0].length;\nvar i;\nfor (i=0; i<t; i++) {\n   Bookings = Bookings + p.series[0].pointlist[i][1];\n}\nBookings = Bookings * 2;\nmsg.payload=Bookings;\nmsg.topic = \"bookings\";\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["2bec8cfe.874354","5b0ac80.e374a38","7d261b72.19f0e4"]]},{"id":"d1c6211f.0a27a","type":"function","z":"4eadb732.0e2c18","name":"Compose topic message","func":"msg.payload = \"evolutionDW\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["277975df.5403ea","45dad21b.ca360c"]]},{"id":"57eeb9f8.906aa8","type":"function","z":"4eadb732.0e2c18","name":"store EVO BPH","func":"flow.set('evolutionBPH',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[[]]},{"id":"2bec8cfe.874354","type":"delay","z":"4eadb732.0e2c18","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":400,"wires":[["57eeb9f8.906aa8"]]},{"id":"5b0ac80.e374a38","type":"switch","z":"4eadb732.0e2c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"evolutionBPH","vt":"flow"},{"t":"gt","v":"evolutionBPH","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":400,"wires":[["d1c6211f.0a27a"],["5442a825.ce75a8"]]},{"id":"5442a825.ce75a8","type":"function","z":"4eadb732.0e2c18","name":"Compose topic message","func":"msg.payload = \"evolutionUP\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":420,"wires":[["277975df.5403ea","45dad21b.ca360c"]]},{"id":"45dad21b.ca360c","type":"ui_text","z":"4eadb732.0e2c18","group":"6ac894bc.a67ffc","order":3,"width":"3","height":"1","name":"EVO BPH Trend","label":"","format":"{{msg.payload}}","layout":"row-left","x":1080,"y":400,"wires":[]},{"id":"b500ba64.dfb2a8","type":"http request","z":"4eadb732.0e2c18","name":"Earthquake","method":"GET","ret":"obj","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson","tls":"","x":190,"y":500,"wires":[["e09658bc.2cb1d8"]]},{"id":"e09658bc.2cb1d8","type":"function","z":"4eadb732.0e2c18","name":"Number of earthquakes","func":"p=msg.payload;\nnode.log(typeof P);\nvar t = p.metadata.count;\nmsg.payload = t;\nmsg.topic = \"earthquake\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["560c72df.dd6d6c","58f68a67.5e3d74","40a27978.7ac3a8"]]},{"id":"b88250b9.3c043","type":"function","z":"4eadb732.0e2c18","name":"store earthquakes","func":"flow.set('earthquakes',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":500,"wires":[[]]},{"id":"560c72df.dd6d6c","type":"delay","z":"4eadb732.0e2c18","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":500,"wires":[["b88250b9.3c043"]]},{"id":"58f68a67.5e3d74","type":"switch","z":"4eadb732.0e2c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"earthquakes","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":560,"wires":[["19bd157f.40e6bb"]]},{"id":"19bd157f.40e6bb","type":"function","z":"4eadb732.0e2c18","name":"Compose topic message","func":"msg.payload = \"warnings\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":560,"wires":[["277975df.5403ea"]]},{"id":"40a27978.7ac3a8","type":"ui_chart","z":"4eadb732.0e2c18","name":"Earthquakes","group":"18f376f2.cfa749","order":6,"width":0,"height":0,"label":"All earthquakes last hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"20","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1070,"y":460,"wires":[[],[]]},{"id":"7d261b72.19f0e4","type":"ui_chart","z":"4eadb732.0e2c18","name":"Evo.BPH / API.Booking Errors","group":"6ac894bc.a67ffc","order":4,"width":"0","height":"0","label":"Evo.BPH (30')/ API.Booking Errors (15')","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1200","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":260,"wires":[[],[]]},{"id":"af3e8015.806d6","type":"delay","z":"4eadb732.0e2c18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":100,"wires":[["4e9d31cd.ce563"]]},{"id":"8ea1378d.d5ea88","type":"twitter in","z":"4eadb732.0e2c18","twitter":"","tags":"@realDonaldTrump","user":"user","name":"Donald Trump","inputs":0,"x":190,"y":620,"wires":[["19bd157f.40e6bb","7e95b4b2.bc06dc"]]},{"id":"832403cd.b606b","type":"ui_text","z":"4eadb732.0e2c18","group":"18f376f2.cfa749","order":1,"width":"9","height":"4","name":"Twitter Trump","label":"","format":"{{msg.payload}}","layout":"col-center","x":800,"y":620,"wires":[]},{"id":"85a7f579.a17328","type":"delay","z":"4eadb732.0e2c18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":20,"wires":[["92dffda9.9643b"]]},{"id":"7e95b4b2.bc06dc","type":"function","z":"4eadb732.0e2c18","name":"add time to payload","func":"\nvar ts_hms = new Date().toLocaleString('es-ES');\nmsg.payload = msg.payload + \" at \" + ts_hms;\nreturn [msg];","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["832403cd.b606b"]]},{"id":"5edb8870.f2d1f8","type":"delay","z":"4eadb732.0e2c18","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":90,"y":260,"wires":[["338f67db.727e78"]]},{"id":"9290ad11.63a64","type":"delay","z":"4eadb732.0e2c18","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":90,"y":440,"wires":[["b500ba64.dfb2a8"]]},{"id":"c74a1857.0f7288","type":"e-mail","z":"4eadb732.0e2c18","server":"smtp.gmail.com","port":"465","secure":true,"name":"mcorts69@icloud.com","dname":"HBG KPI Alert","x":400,"y":720,"wires":[]},{"id":"cdd1241a.1371f8","type":"mysql","z":"4eadb732.0e2c18","mydb":"","name":"","x":370,"y":760,"wires":[[]]},{"id":"6ac894bc.a67ffc","type":"ui_group","z":"","name":"HBG","tab":"e481a73.504b758","order":1,"disp":true,"width":"9","collapse":true},{"id":"2dfe1747.bcf7a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"72857167.28624","type":"ui_group","z":"","name":"Panic","tab":"e481a73.504b758","order":3,"disp":true,"width":"9","collapse":true},{"id":"18f376f2.cfa749","type":"ui_group","z":"","name":"World","tab":"e481a73.504b758","order":2,"disp":true,"width":"9","collapse":false},{"id":"e481a73.504b758","type":"ui_tab","z":"","name":"HBG KPI Bookings","icon":"hotel","order":5,"disabled":false,"hidden":false}]